/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
  margin: 0;
    padding: 0;
}
section{
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;    
    
}
header{
    width: 80%;
    height: 100%;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 10px
}
section h2{
   text-align: center; 
    
}


/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
    width: 50%;
    align-content: center
    
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}


li>p{
    width: 30%;
    margin: 0;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
    width: 50%
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius:0;
  width: 50%;
  padding: 10px;
  font-size: 16px;
    text-align: center
    
}




